.header{
    background-image: url('./image/business.webp');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;

    margin-bottom: 20px;
}
.main-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.col-1{
    width: 33.33%;
}
.footer{
    margin-top: 20px;
    background-color: brown;
    height: 300px;
}
@media screen and (max-width: 1200px) {
    .col-1{
        width: 50%;
    }

}
@media screen and (max-width: 600px) {
    .col-1{
        width: 100%;
    }

}
